---
import Layout from "../layouts/Layout.astro";

const api_url = import.meta.env.API_URL;
---

<Layout>
    <section class="grid place-items-center w-[100dvw] h-[100dvh]">
        <form class="gap-[2rem] shadow-[0_0_10px_var(--color-secondary)] flex flex-col justify-between items-center min-h-[22rem] w-[18rem] rounded-[25px] px-[5rem] py-4">
            <div>
                <p class="underline text-[34px] font-semibold">REGISTER</p>
            </div>
            <div class="flex flex-col gap-4 items-center">
                <label for="username">
                    Username
                    <input
                    id="username"
                    name="username"
                    type="text"
                    class="bg-transparent"
                    required
                    />
                </label>
                <label for="email">
                    Email
                    <input
                    id="email"
                    name="email"
                    type="email"
                    class="bg-transparent"
                    required
                    />
                </label>
                <label for="password">
                    Password
                    <input
                    id="password"
                    name="password"
                    type="password"
                    class="bg-transparent"
                    required
                    />
                </label>
                <button type="submit" class="w-[150px] p-[0.2rem] mt-6 rounded-[5px] cursor-pointer border-[1px] border-[var(--color-secondary)] shadow-[0_0_5px_var(--color-secondary)] h-[30px] bg-[#E6F3F4] hover:bg-[#F4EEE6] focus:bg-[#F4EEE6]">Register</button>
                <a href="/login" class="text-[var(--color-primary)] hover:text-[#3b74ca] text-[14px]">Already Registered</a>
            </div>
        </form>
    </section>
</Layout>
<script is:inline define:vars={{api_url}}>
  document.addEventListener("DOMContentLoaded", function() {
    const form = document.querySelector("form");
    form.addEventListener("submit", async function(e) {
      e.preventDefault()
      const username = (document.getElementsByName("username")[0]).value;
      const email = (document.getElementsByName("email")[0]).value;
      const password = (document.getElementsByName("password")[0]).value;

      const data = {
        username: username,
        user: username,
        email: email,
        userpass: password,
        password: password,
        role: 1
      };
      try {

        const userList = await fetch(`${api_url}/users`, {
          method: "GET",
        })

        const users = await userList.json()
        if (users.filter(user => user.username === username).length > 0) {
          alert("username already exists")
          return
        }

        const response = await fetch(`${api_url}/users`, {
          method: "POST",
          headers: {
            'content-type': 'application/json',
          },
          body: JSON.stringify(data)
        })
        const result = await response.json()

        if ('error' in result) {
          alert(result.error.message.replace('user', 'username'))
          return
        }

        window.location.replace('/login')

      } catch (e) {
        alert("Server Error" + e.message)
      }
    })
  })
</script>